{% extends "APP/base.html" %}

{% load static %}

{% block main %}
<div class="container" style="margin-top: 90px;">
    <div class="row align-items-center">
      <!-- Columna para la imagen -->
      <div class="col-md-6 mb-4">
        <img src="{% static 'APP/assets/img/Inicio.jpg' %}" class="img-fluid" alt="Imagen">
      </div>
      
      <!-- Columna para el texto -->
      <div class="col-md-6">
        <h2>SoloCAMISETAS</h2>
        <p>SoloCamisetas nació en Mar del Plata con la idea de ofrecer camisetas únicas y con estilo. Fundada por un grupo de amigos apasionados por la moda, la tienda comenzó como un pequeño local cerca de la playa. Su misión: crear diseños originales que reflejan la cultura local y el espíritu joven de la ciudad. Con el tiempo, SoloCamisetas se ha convertido en un referente en la ciudad, ofreciendo prendas cómodas y de calidad tanto a los locales como a los turistas.</p>
      </div>
    </div>
</div>

{% endblock main %}