{% extends "APP/base.html" %}


{% load static %}


{% block main %}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre Mi</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Soy Sebastián, tengo 26 años, nacido en Mar del Plata, y a lo largo de mi vida he seguido una trayectoria enfocada en el área contable y ahora en la ciencia de datos. </h4>
                    </div>
                    <div class="timeline-body"></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Estudié la carrera de Contador Público durante 4 años en la Universidad Nacional y trabajo como asistente contable para una empresa en Buenos Aires.</h4>
                    </div>
                    <div class="timeline-body"></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Este año decidí expandir mis conocimientos y comencé la diplomatura en Data Science en Coderhouse, con el objetivo de combinar mi experiencia en contabilidad con las herramientas que ofrece la ciencia de datos.</h4>
                    </div>
                    <div class="timeline-body"></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Este
                        <br />
                        Es Mi Trayecto
                        <br />
                        Profesional
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>



{% endblock main %}
